<body>
    <div class="container my-5">
        <h1>
            Covid - 19 Data tracker
        </h1>

        <h2 >
            Data for {{name}}
            {{!-- {{#if global}}
                Hello
            {{/if}} --}}
        </h2>
        <div class="row my-5 py-5">
            <div class="col col-12 my-2 col-md-4">
                <div class = "card bg-green" style="background-color: aquamarine;">
                    <div class="card-title">
                        <h3>Affected</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            The total Number of confirmed cases are {{confirmed}} .
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="col col-12 my-2 col-md-4">
                <div class = "card bg-blue" style="background-color:chartreuse;">
                    <div class="card-title">
                        <h3>Recovered</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            The total Number of  people recovered are {{recovered}} .
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="col col-12 my-2 col-md-4">
                <div class = "card bg-red" style="background-color: red;">
                    <div class="card-title ">
                        <h3>Deaths</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            The total Number of people died are {{deaths}} .
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>  
    {{#if global}}
        {{#each dailyData}}
            <div class="container my-3">
                <div class="card">
                    <div class="card-title bg-dark text-white">
                        <h3 class="text-center">{{date}}</h3>
                    </div>
                    <div class="card-body text-center">
                        <p>
                            <h5>Confirmed - {{confirmed}}</h5>
                            <h5>Recovered - {{recovered}}</h5>
                            <h5>Deaths - {{deaths}}</h5>
                        </p>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}
    <br><br><br>
    <div class="container">
        
        <canvas id="myChart"></canvas>
    </div>

    <div class="container my-5">
        <h2>
            Choose Country
        </h2>
        <form method="post" action="/country">
            <select class="browser-default custom-select" name="country">
                <option class = "form-control"value="Global" >Global</option>
                
                {{#each countries}}
                    <option class = "form-control"value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
            <button class="btn btn-dark text-white my-3"type="submit">Submit</button>
        </form>
    </div>

    
    <div class="container">
        <p>
            Last updated : {{lastUpdate}}
        </p>
    </div>

</body>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
   

    
    let cha = document.getElementById("myChart");
    cha.height = 300;
    let ch = cha.getContext("2d");
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 12;
    Chart.defaults.global.defaultFontColor = 'blue';

    let chart = new Chart(ch,{
        type : 'bar',
        data : {
            labels : ['Confirmed','Recovered','Deaths'],
            datasets : [
                {
                    label : ['Total Cases'],
                    data : [{{confirmed}},{{recovered}},{{deaths}}],
                    backgroundColor : ['skyblue','green','red'],
                    hoverBorderWidth : 3,
                    hoverBorderColor : 'black'
                }
            ],
            
        },
        options : {
            title : {
                display : true,
                text : 'Total Cases',
                fontSize : 25
            },
            legend : {
                display:false
            },
            layout : {
                
                
            }
        }
    });

</script>